<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <radworks>
            <shipstation_shipnotify>
                <shipment_import_source>all</shipment_import_source>
            </shipstation_shipnotify>
        </radworks>
    </default>
</config>

