<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="radworks" sortOrder="255">
            <label>RadWorks</label>
        </tab>
        <section id="radworks">
            <group id="shipstation_shipnotify" translate="label" type="text" sortOrder="20" showInDefault="1">
                <label>ShipNotify</label>
                <field id="shipment_enabled" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Enable Shipment Override</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[When enabled, the ShipNotify model will be partially overridden to create shipments
                         based on inventory source.]]>
                    </comment>
                </field>
                <field id="skip_inventory_validation" translate="label" type="select" sortOrder="20" showInDefault="1">
                    <label>Skip Inventory Validation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[This feature allows skipping inventory source validation,
                         enabling shipment creation even if the shipped product,
                         with managed inventory stock, doesn’t exist or lacks the required quantities for shipment.]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
